<div class="row">
  <div class="col-12">
    <img src="https://cdn.pixabay.com/photo/2016/06/15/19/09/food-1459693_1280.jpg" alt="" class="img-fluid">
  </div>
</div>
<div class="row d-flex justify-content-center align-items-center">
  <div class="col-6">
    <h1>Recipe Name</h1>
  </div>
  <div class="col-6 text-right">
    <button 
      id="btnManageRecipe"
      class="btn btn-primary dropdown-toggle"
      data-toggle="dropdown" 
      aria-haspopup="true" 
      aria-expanded="false"
    >Manage Recipe <span class="caret"></span></button>
    <div class="dropdown-menu" aria-labelledby="btnManageRecipe">
      <a class="dropdown-item" href="#">Add to shopping list</a>
      <a class="dropdown-item" href="#">Edit Recipe</a>
      <a class="dropdown-item" href="#">Delete Recipe</a>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    Description
  </div>
</div>
<div class="row">
  <div class="col-12">
    Ingredient
  </div>
</div>